<div class="flex items-center gap-x-4 text-xl justify-end p-4 text-green-600">
  <i class="fas fa-bell"></i>
  <%= render Ui::DropdownMenuComponent.new do |c| %>
    <% c.title_icon(text: current_seller.full_name, icon: "fas fa-chevron-down") %>
    <% c.menu_item(text: t(".logout"), path: destroy_seller_session_path, method: :delete) %>
  <% end %>
</div>
