<section class="border-t border-gray-200 my-10">
  <div class="mt-10 mx-4 md:mt-20 lg:mx-0">
    <h3 class="text-xl font-bold"><%= t(".description_heading") %></h3>
    <p class="mt-2"><%= property.description %></p>
  </div>
  <div class="mt-10 mx-4 lg:mx-0">
    <h4 class="text-lg font-semibold"><%= t(".physical_address") %></h4>
    <p class="mt-2"><%= property.address %></p>
  </div>
</section>
