<section class="max-w-screen-xl mx-auto md:mt-10">
  <div class="text-center py-16 mx-4 md:py-24">
		<h2 class="text-2xl font-bold mb-2 md:text-3xl"><%= t(".heading") %></h2>
		<p class="text-base md:text-lg"><%= t(".failure_message") %></p>
    <div class="mt-10">
      <%= render Ui::PrimaryLinkButtonComponent.new(
        title: t(".try_again_button"),
        href: buyer_app_offer_path(@offer.id),
        rounded: true
      ) %>
    </div>
	</div>
</section>


