<div class="flex gap-x-4 items-center">
  <div class="rounded-xl overflow-hidden shadow">
    <%= property_image %>
  </div>
  <div>
    <p class="text-3xl font-bold"><%= property.name %></p>
    <p class="text-lg"><%= property.address %></p>
  </div>
</div>
