<ul class="flex border-b border-gray-200 last:border-b-8">
  <li class="px-4 py-2 w-1/4"><%= line_item_date %></li>
  <li class="px-4 py-2 w-2/4"><%= line_item_description %></li>
  <li class="px-4 py-2 w-1/4 text-right"><%= line_item_amount %></li>
</ul>
