<div class="relative" data-controller="dropdown-menu">
  <div class="bg-green-500 hover:bg-green-600 font-semibold rounded-full text-white py-1 px-4 cursor-pointer" data-action="click->dropdown-menu#toggle click@window->dropdown-menu#hide">
    <%= title %>
  </div>
  <ul class="absolute right-0 divide-y-2 divide-solid divide-gray-50 bg-white border-2 border-gray-100 rounded-2xl overflow-hidden mt-1 hidden" data-dropdown-menu-target="menu">
    <% menu_items.each do |menu_item| %>
      <li class="p-2 px-4 hover:text-green-500">
        <%= menu_item %>
      </li>
    <% end %>
  </ul>
</div>
