<div id="<%= id %>" class="<%= hide_modal %> absolute inset-0 bg-black bg-opacity-80 flex items-center justify-center">
  <div class="max-w-screen-lg bg-white p-6 rounded-none shadow-lg h-screen md:rounded-xl md:h-auto">
    <%= content %>
  </div>
</div>
