<div data-action="click->toggle-switch#toggle" class="w-10 h-5 rounded-full cursor-pointer relative <%= background_color %>">
  <div class="transition-all duration-500 ease-in-out rounded-full h-5 w-5 bg-white absolute border-2 <%= border_color %>" data-toggle-switch-target="switch" ></div>
</div>
