<div class="mt-10 py-12 border-t border-gray-200">
  <%= f.hidden_field :images, data: {file_upload_target: "images"} %>
  <%= f.hidden_field :delete_images, data: {file_upload_target: "deleteImages"} %>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-4 mx-4 lg:mx-0">
      <h3 class="text-green-700 text-xl font-bold"><%= t(".upload_images") %></h3>
      <p class="text-gray-500 mt-2 pr-40"><%= t(".upload_images_paragraph") %></p>
    </div>
    <div class="col-span-8">
      <div class="mt-2 border border-dashed border-green-500 dropzone" data-file-upload-target="upload">
      </div>
      <div class="text-xs text-gray-500 mt-2">
        <p>Up to 20 photos with a maximum size of 5MB each. You can upload .jpg, .jpeg, .png and .gif file formats.</p>
      </div>
    </div>
  </div>
</div>
