<div class="mx-4">
  <div class="py-4 bg-white sticky top-0">
    <%= render Ui::PrimaryLinkButtonComponent.new(
      title: "Add Property",
      href: new_seller_app_property_path,
      rounded: true,
      size: :xs
    ) %>
  </div>
  <%= render Properties::TableComponent.new(properties: @properties)%>
</div>

